
<template>

    <li  v-bind:class="classObject" @click.prevent="selectChannel(channel)">
        <a href="#">
            <div class="message-avatar"><i class="status-icon" v-bind:class="onlineStatus"></i><img :src=channel.sender.avatar  alt="" /></div>

            <div class="message-by">
                <div class="message-by-headline">
                    <h5>{{ channel.sender.fullName === auth.first_name+' '+auth.last_name ? 'You' : channel.sender.fullName}}</h5>
                    <span>{{ channel.message.created_at }}</span>
                </div>
                <span v-if="auth.id != channel.sender.id" v-bind:class="unread" style="float :right">{{ channel.unread != 0 ? channel.unread : '' }}</span>
                <p>{{ channel.message.body }} </p>

            </div>
        </a>
    </li>


</template>

<script>
    export default {
        props : {
            channel : {
                type : Object,
                default : {}
            },
            currentChannel : {
                type : Object,
                default : {}
            },
            auth : Object

        },
        data() {
            return {
              onlineChannels : [],
              onlineIds : []
            }
        },
        methods : {
            selectChannel(channel) {
                this.$emit('selected',channel);
            }
        },
          mounted() {
                            if(this.auth.id != null) {
                            Echo.join('online')
                                .here((users) => {
                                  this.onlineChannels = users;
                                  this.onlineChannels.forEach((user) => {
                                  this.onlineIds.push(user.id);
                                  })
                                })
                                .joining((user) => {
                                  this.onlineChannels.push(user);
                                })
                                .leaving((user) => {
                                  this.onlineChannels = this.onlineChannels.filter((u) => { u != user});
                                })
                            }

        },
        computed: {
            classObject: function () {
                return {
                    'active-message' : this.channel.id == this.currentChannel.id,
                    'unread-message' : this.channel.unread != 0

                }
            },
            unread: function () {
                return {
                    unreadTag : this.channel.unread != 0

                }
            },
            onlineStatus: function () {
                      var id = 0;
                      if(this.auth.id == this.channel.sender.id) {
                        id = this.channel.receiver.id;
                      }else {
                        id = this.channel.sender.id;
                      }
                      return {
                          'status-online' : this.onlineIds.includes(id)
                      }

            }
        }
    }
</script>
<style>
    .unread-message {
    background-color: #fafafa;
    }

    .unreadTag {
    background-color: blue;
    float: right;
    color: white;
    font-size: 11px;
    width: 19px;
    border-radius: 50%;
    line-height: 19px;
    height: 19px;
    font-weight: 700;
    margin: 10p;
    text-align: center;
    }
</style>
