<template>

    <div class="messages-inbox">
       <search @search="handleSearch"></search>

        <ul>

        <channel :auth="auth" @selected="changeChannel" :currentChannel="currentChannel" v-for="channel in channels" :channel="channel" :key="channel.id"></channel>
            <div style="text-align: center; padding: 10px" v-show="channels.length === 0">
                You have no contacts yet !
            </div>
        </ul>
    </div>

</template>

<script>
    export default {
        props : {
            auth : Object,
            messages : Array,
            channels : {
                type : Array,
                default : []
            },
            currentChannel : {
                type : Object,
                default : {}
            },
            loadingMessages : Boolean

        },
        mounted() {

        },
        methods : {
            changeChannel(channel) {
                        this.$emit('startMessagesLoader');
                        axios.get("/chat/messages?channelId="+ channel.id+"&offset=0")
                            .then((res) => {
                                this.$emit('updateMessages', res.data);
                                this.$emit('updateCurrentChannel', channel);
                                this.$emit('stopMessagesLoader');
                            });
                    },
                    handleSearch(query) {
                        this.$emit('onSearch', query);
                    }
            }

    }
</script>
