<template>

    <div class="messages-container margin-top-0">

        <div class="messages-container-inner">

            <channels   @startMessagesLoader="startMessagesLoader" @stopMessagesLoader="stopMessagesLoader"  :loadingMessages="loadingMessages" @onSearch="handleOnSearch" :auth="auth" @updateMessages="updateMessages" @updateCurrentChannel="updateCurrentChannel" :currentChannel="currentChannel"  :channels="channels"></channels>

            <chat-log ref="chatLog"  @loadMoreMessages="loadMoreMessages" :loadingMessages="loadingMessages" @newMessage="pushNewMessage" :auth="auth"  :messages="messages" :currentChannel="currentChannel"></chat-log>
        </div>
     </div>

</template>

<script>
    export default {
            props : {
                auth : Object
            },
        data() {
          return {
              currentChannel : {},
              channels : [],
              messages : [],
              loadingMessages: false,
              offset: 0
          }
        },
        mounted() {

            axios.get("/channels")
                .then((res) => {
                    this.channels = res.data;
                    this.currentChannel = this.channels[0]
                    this.loadingMessages = true
                    axios.get("/chat/messages?channelId="+ this.currentChannel.id+"&offset=0")
                        .then((res) => {
                            this.messages = res.data.reverse();
                            this.loadingMessages = false
                            this.$refs.chatLog.scrollToButtom();
                        });
                });

                Echo.private(`messages.`+this.auth.id)
                    .listen("NewMessage",(e) => {
                            this.handleIncoming(e.message,this.currentChannel);
                    })




        },
        methods : {
            updateMessages(messages) {
                this.messages = messages.reverse();
            },
            updateCurrentChannel(channel) {
                this.offset = 0;
                this.currentChannel = channel;
                axios.get("/channel/status?id="+channel.id)
                    .then((res) => {
                    axios.get("/channels")
                        .then((res) => {
                            this.channels = res.data;
                        });
                    });
            },
            pushNewMessage(message) {
                this.messages.push(message);
                axios.get("/channels")
                    .then((res) => {
                        this.channels = res.data;
                    });

            },
            handleIncoming(message,channel) {

                    this.messages.push(message);
                     this.$refs.chatLog.scrollToButtom();
                    axios.get("/chat/status?id="+message.message.id)
                        .then((res) => {
                        });

                    axios.get("/channels")
                        .then((res) => {
                            this.channels = res.data;
                        });
                    return;


            },
              startMessagesLoader() {
              this.loadingMessages = true;
              },

              stopMessagesLoader() {
              this.loadingMessages = false;
              },

              handleOnSearch(query) {
              axios.get("/channel/search?query="+query)
                      .then((res) => {
                        this.channels = res.data;
                        this.currentChannel = res.data[0];


                  });
              },
              loadMoreMessages($state) {
                this.offset++;
                  axios.get("/chat/messages?channelId="+ this.currentChannel.id+"&offset="+this.offset)
                  .then((res) => {
                  if(res.data.length > 0) {
                  this.messages.unshift(...res.data.reverse());
                   $state.loaded();
                  }else {
                  $state.complete();
                  }

                  });
              }
        }
    }
</script>
