
<template>

    <div class="message-reply">
        <textarea v-model="message" @keydown.enter="send" cols="1" rows="1" placeholder="Your Message" data-autoresize></textarea>
        <button @click="send" class="button ripple-effect">Send</button>
    </div>


</template>

<script>
    export default {
        data() {
            return  {
                message : ''
            }
        },
        methods : {
          send(e) {
              e.preventDefault();
              if(this.message == '') {
                  return;
              }

              this.$emit('send', this.message);
              this.message = '';
          }
        },
        mounted() {
        }
    }
</script>
