
<template>
    <div>

    <div class="message-time-sign">
        <span>{{message.message.sent_at}}</span>
    </div>
    <div class="message-bubble " v-bind:class="classObject">
        <div class="message-bubble-inner">
            <div class="message-avatar"><img :src=message.sender.avatar alt="" /></div>
            <div class="message-text"><p>{{ message.message.body }}</p></div>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
</template>

<script>
    export default {
        props : {
            message: {
                type: Object,
                default: {}
            },
            auth: Object
        },
        mounted() {

        },
        computed: {
            classObject: function () {
                return {
                    me: this.auth.id == this.message.sender.id

                }
            }
        }
    }
</script>
