<template>

    <div class="messages-headline">
        <div class="input-with-icon">
            <input  @input="onSearch" v-model="query"  type="text" placeholder="Filter contacts">
            <i class="icon-material-outline-search"></i>
        </div>
    </div>
</template>

<script>
    export default {

    data() {
      return {
          query : '',
      }
    },
        mounted() {
        },
        methods : {
        onSearch() {
              this.$emit('search', this.query);
        }
        }
    }
</script>
